[GLOBAL]
STYLE_NUM=2000

[STYLE1]
FONT_SIZE=50
FONT_WEIGHT=500
FONT_CLEARTYPE=1
NM_COLOR=fafafa
HL_COLOR=fafafa
INFO=候选

[STYLE2]
FONT_SIZE=50
FONT_WEIGHT=500
FONT_CLEARTYPE=1
NM_COLOR=ffffff
HL_COLOR=ffffff
INFO=首选

[STYLE3]
FONT_SIZE=40
FONT_CLEARTYPE=1
NM_COLOR=4b4f57
HL_COLOR=ffffff
INFO=LIST

[STYLE4]
FONT_SIZE=35
FONT_CLEARTYPE=1
NM_COLOR=4b4f57
HL_COLOR=ffffff
INFO=SYM LIST

[STYLE5]
FONT_SIZE=50
FONT_CLEARTYPE=1
NM_COLOR=4b4f57
HL_COLOR=fcba24
INFO=SYM

[STYLE6]
NM_COLOR=fcba24
BORDER_SIZE=4
INFO=PANEL前景

[STYLE7]
NM_COLOR=EF4b4f57
HL_IMG=input,1
INFO=input背景

[STYLE8]
FONT_SIZE=43
FONT_WEIGHT=500
FONT_CLEARTYPE=1
NM_COLOR=f7f7f7
HL_COLOR=f7f7f7
INFO=input前景

[STYLE9]
FONT_SIZE=45
FONT_WEIGHT=545
FONT_CLEARTYPE=1
NM_COLOR=ffffff
HL_COLOR=ffffff
INFO=设置LOGO

[STYLE10]
FONT_SIZE=45
FONT_WEIGHT=550
FONT_CLEARTYPE=1
NM_COLOR=fcba24
HL_COLOR=fcba24
INFO=设置LOGO

[STYLE11]
INFO=SWITCH




[STYLE21]
FONT_SIZE=70
NM_COLOR=ffffff
HL_COLOR=4b4f57
INFO=HINT

[STYLE22]
FONT_SIZE=80
NM_COLOR=ffffff
HL_COLOR=ffffff
INFO=HINT

[STYLE23]
NM_IMG=hint,1

[STYLE24]
HL_IMG=hint,2

[STYLE25]
NM_IMG=hint,3




[STYLE200]
SHOW=此面板制作中，敬请关注公众号《森林集》
NM_COLOR=f75757
FONT_SIZE=52
BORDER_COLOR=AFFFFFFF
BORDER_SIZE=1


INFO=微信公众号----森林集-森林集-森林集-森林集-森林集-森林集-森林集-森林集-森林集

INFO=文字前景 201-400

INFO=微信公众号----森林集-森林集-森林集-森林集-森林集-森林集-森林集-森林集-森林集


[STYLE401]
SHOW=1
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE402]
SHOW=2
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE403]
SHOW=3
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE404]
SHOW=4
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE405]
SHOW=5
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE406]
SHOW=6
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE407]
SHOW=7
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE408]
SHOW=8
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE409]
SHOW=9
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE410]
SHOW=0
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE411]
SHOW=!
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE412]
SHOW=@
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE413]
SHOW=#
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE414]
SHOW=$
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE415]
SHOW=%
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE416]
SHOW=&
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE417]
SHOW=*
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE418]
SHOW=(
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE419]
SHOW=)
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE420]
SHOW=~
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE421]
SHOW=/
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE422]
SHOW=-
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE423]
SHOW=_
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE424]
SHOW=:
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE425]
SHOW=;
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE426]
SHOW=?
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE427]
SHOW=¥
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22

[STYLE428]
SHOW='
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=22


INFO=微信公众号----森林集-森林集-森林集-森林集-森林集


INFO=全选
[STYLE501]

INFO=剪切
[STYLE502]

INFO=复制
[STYLE503]

INFO=粘贴
[STYLE504]

INFO=窗格
[STYLE505]

INFO=段首
[STYLE506]

INFO=段尾
[STYLE507]

[STYLE508]
SHOW=delete
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=21

[STYLE509]
SHOW=sym
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=21

[STYLE510]
SHOW=emoji
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=21

[STYLE511]
SHOW=U
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=19

[STYLE512]
SHOW=L
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=19

[STYLE513]
SHOW=R
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=19

[STYLE514]
SHOW=D
NM_COLOR=606670
HL_COLOR=ffffff
FONT_SIZE=19


INFO=微信公众号----森林集-森林集-森林集-森林集-森林集-森林集-森林集-森林集-森林集


[STYLE601]
NM_IMG=letter,1
HL_IMG=letter_p,1

[STYLE602]
NM_IMG=letter,2
HL_IMG=letter_p,2

[STYLE603]
NM_IMG=letter,3
HL_IMG=letter_p,3

[STYLE604]
NM_IMG=letter,4
HL_IMG=letter_p,4

[STYLE605]
NM_IMG=letter,5
HL_IMG=letter_p,5

[STYLE606]
NM_IMG=letter,6
HL_IMG=letter_p,6

[STYLE607]
NM_IMG=letter,7
HL_IMG=letter_p,7

[STYLE608]
NM_IMG=letter,8
HL_IMG=letter_p,8

[STYLE609]
NM_IMG=letter,9
HL_IMG=letter_p,9

[STYLE610]
NM_IMG=letter,10
HL_IMG=letter_p,10

[STYLE611]
NM_IMG=letter,11
HL_IMG=letter_p,11

[STYLE612]
NM_IMG=letter,12
HL_IMG=letter_p,12

[STYLE613]
NM_IMG=letter,13
HL_IMG=letter_p,13

[STYLE614]
NM_IMG=letter,14
HL_IMG=letter_p,14

[STYLE615]
NM_IMG=letter,15
HL_IMG=letter_p,15

[STYLE616]
NM_IMG=letter,16
HL_IMG=letter_p,16

[STYLE617]
NM_IMG=letter,17
HL_IMG=letter_p,17

[STYLE618]
NM_IMG=letter,18
HL_IMG=letter_p,18

[STYLE619]
NM_IMG=letter,19
HL_IMG=letter_p,19

[STYLE620]
NM_IMG=letter,20
HL_IMG=letter_p,20

[STYLE621]
NM_IMG=letter,21
HL_IMG=letter_p,21

[STYLE622]
NM_IMG=letter,22
HL_IMG=letter_p,22

[STYLE623]
NM_IMG=letter,23
HL_IMG=letter_p,23

[STYLE624]
NM_IMG=letter,24
HL_IMG=letter_p,24

[STYLE625]
NM_IMG=letter,25
HL_IMG=letter_p,25

[STYLE626]
NM_IMG=letter,26
HL_IMG=letter_p,26


INFO=微信公众号----森林集-森林集-森林集-森林集


[STYLE653]
NM_IMG=letter,53
HL_IMG=letter_p,53

[STYLE654]
NM_IMG=letter,54
HL_IMG=letter_p,54

[STYLE655]
NM_IMG=letter,55
HL_IMG=letter_p,55

[STYLE656]
NM_IMG=letter,56
HL_IMG=letter_p,56

[STYLE657]
NM_IMG=letter,57
HL_IMG=letter_p,57

[STYLE658]
NM_IMG=letter,58
HL_IMG=letter_p,58

[STYLE659]
NM_IMG=letter,59
HL_IMG=letter_p,59

[STYLE660]
NM_IMG=letter,60
HL_IMG=letter_p,60

[STYLE661]
NM_IMG=letter,61
HL_IMG=letter_p,61

[STYLE662]
NM_IMG=letter,62
HL_IMG=letter_p,62

[STYLE663]
NM_IMG=letter,63
HL_IMG=letter_p,63

[STYLE664]
NM_IMG=letter,64
HL_IMG=letter_p,64

[STYLE665]
NM_IMG=letter,65
HL_IMG=letter_p,65

[STYLE666]
NM_IMG=letter,66
HL_IMG=letter_p,66

[STYLE667]
NM_IMG=letter,67
HL_IMG=letter_p,67

[STYLE668]
NM_IMG=letter,68
HL_IMG=letter_p,68

[STYLE669]
NM_IMG=letter,69
HL_IMG=letter_p,69

[STYLE670]
NM_IMG=letter,70
HL_IMG=letter_p,70

[STYLE671]
NM_IMG=letter,71
HL_IMG=letter_p,71

[STYLE672]
NM_IMG=letter,72
HL_IMG=letter_p,72

[STYLE673]
NM_IMG=letter,73
HL_IMG=letter_p,73

[STYLE674]
NM_IMG=letter,74
HL_IMG=letter_p,74

[STYLE675]
NM_IMG=letter,75
HL_IMG=letter_p,75

[STYLE676]
NM_IMG=letter,76
HL_IMG=letter_p,76

[STYLE677]
NM_IMG=letter,77
HL_IMG=letter_p,77

[STYLE678]
NM_IMG=letter,78
HL_IMG=letter_p,78

[STYLE679]
NM_IMG=letter,79
HL_IMG=letter_p,79

[STYLE680]
NM_IMG=letter,80
HL_IMG=letter_p,80

[STYLE681]
NM_IMG=letter,81
HL_IMG=letter_p,81

[STYLE682]
NM_IMG=letter,82
HL_IMG=letter_p,82

[STYLE683]
NM_IMG=letter,83
HL_IMG=letter_p,83

[STYLE684]
NM_IMG=letter,84
HL_IMG=letter_p,84



INFO=微信公众号----森林集-森林集-森林集-森林集



[STYLE701]
NM_IMG=letter,27
HL_IMG=letter_p,27

[STYLE702]
NM_IMG=letter,28
HL_IMG=letter_p,28

[STYLE703]
NM_IMG=letter,29
HL_IMG=letter_p,29

[STYLE704]
NM_IMG=letter,30
HL_IMG=letter_p,30

[STYLE705]
NM_IMG=letter,31
HL_IMG=letter_p,31

[STYLE706]
NM_IMG=letter,32
HL_IMG=letter_p,32

[STYLE707]
NM_IMG=letter,33
HL_IMG=letter_p,33

[STYLE708]
NM_IMG=letter,34
HL_IMG=letter_p,34

[STYLE709]
NM_IMG=letter,35
HL_IMG=letter_p,35

[STYLE710]
NM_IMG=letter,36
HL_IMG=letter_p,36

[STYLE711]
NM_IMG=letter,37
HL_IMG=letter_p,37

[STYLE712]
NM_IMG=letter,38
HL_IMG=letter_p,38

[STYLE713]
NM_IMG=letter,39
HL_IMG=letter_p,39

[STYLE714]
NM_IMG=letter,40
HL_IMG=letter_p,40

[STYLE715]
NM_IMG=letter,41
HL_IMG=letter_p,41

[STYLE716]
NM_IMG=letter,42
HL_IMG=letter_p,42

[STYLE717]
NM_IMG=letter,43
HL_IMG=letter_p,43

[STYLE718]
NM_IMG=letter,44
HL_IMG=letter_p,44

[STYLE719]
NM_IMG=letter,45
HL_IMG=letter_p,45

[STYLE720]
NM_IMG=letter,46
HL_IMG=letter_p,46

[STYLE721]
NM_IMG=letter,47
HL_IMG=letter_p,47

[STYLE722]
NM_IMG=letter,48
HL_IMG=letter_p,48

[STYLE723]
NM_IMG=letter,49
HL_IMG=letter_p,49

[STYLE724]
NM_IMG=letter,50
HL_IMG=letter_p,50

[STYLE725]
NM_IMG=letter,51
HL_IMG=letter_p,51

[STYLE726]
NM_IMG=letter,52
HL_IMG=letter_p,52

INFO=微信公众号----森林集-森林集-森林集-森林集-森林集-森林集-森林集-森林集-森林集


INFO=ANIM
INFO=SHOW_ANIM=EVENT1=
[STYLE801]
PRESS_ANIM=1
[STYLE802]
PRESS_ANIM=51
[STYLE803]
PRESS_ANIM=101
[STYLE804]
PRESS_ANIM=151

[STYLE805]
PRESS_ANIM=201
[STYLE806]
PRESS_ANIM=251
[STYLE807]
PRESS_ANIM=301
[STYLE808]
PRESS_ANIM=351

[STYLE809]
SHOW_ANIM=401
[STYLE810]
SHOW_ANIM=421
[STYLE811]
SHOW_ANIM=441
[STYLE812]
SHOW_ANIM=461
[STYLE813]
SHOW_ANIM=481
[STYLE814]
SHOW_ANIM=501
[STYLE815]
SHOW_ANIM=521

[STYLE816]
PRESS_ANIM=541
[STYLE817]
PRESS_ANIM=561
[STYLE818]
PRESS_ANIM=581


INFO=微信公众号----森林集-森林集-森林集-森林集-森林集


INFO=按键音
INFO=PANEL_SHOW_SOUND_PATH=qd.ogg_aj.aiff
[STYLE1001]
PRESS_SOUND_PATH=aj.ogg


INFO=微信公众号----森林集-森林集-森林集-森林集-森林集-森林集-森林集-森林集-森林集


[STYLE1101]
NM_IMG=bj,1
HL_IMG=bj,1

[STYLE1102]
NM_IMG=bj,2
HL_IMG=bj,2

[STYLE1103]
NM_IMG=bj,3
HL_IMG=bj,3


INFO=微信公众号----森林集-森林集-森林集-森林集-森林集


INFO=按键
[STYLE1201]
HL_IMG=sym,11

[STYLE1202]
NM_IMG=anjian,1
HL_IMG=anjian,2

[STYLE1203]
NM_IMG=anjian,3
HL_IMG=anjian,4

[STYLE1204]
NM_IMG=anjian,5
HL_IMG=anjian,6

[STYLE1205]
NM_IMG=anjian,7
HL_IMG=anjian,8

[STYLE1206]
NM_IMG=anjian,9
HL_IMG=anjian,10

[STYLE1207]
NM_IMG=anjian,11
HL_IMG=anjian,12

[STYLE1208]
NM_IMG=anjian,13
HL_IMG=anjian,14

[STYLE1209]
NM_IMG=anjian,15
HL_IMG=anjian,16

[STYLE1210]
NM_IMG=anjian,17
HL_IMG=anjian,18

[STYLE1211]
NM_IMG=anjian,19
HL_IMG=anjian,20

[STYLE1212]
NM_IMG=anjian,21
HL_IMG=anjian,22


INFO=微信公众号----森林集-森林集-森林集-森林集-森林集


INFO=CAND
[STYLE1301]
NM_IMG=cand,1
HL_IMG=cand2,1

[STYLE1302]
NM_IMG=cand,2
HL_IMG=cand2,2

[STYLE1303]
NM_IMG=cand,3
HL_IMG=cand2,3

[STYLE1304]
NM_IMG=cand,4
HL_IMG=cand2,4

[STYLE1305]
NM_IMG=cand,5
HL_IMG=cand2,5

[STYLE1306]
NM_IMG=cand,6
HL_IMG=cand2,6

[STYLE1307]
NM_IMG=cand,7
HL_IMG=cand2,7

[STYLE1308]
NM_IMG=cand,8
HL_IMG=cand2,8

[STYLE1309]
NM_IMG=cand,9
HL_IMG=cand2,9

[STYLE1310]
NM_IMG=cand,10
HL_IMG=cand2,10

[STYLE1311]
NM_IMG=cand,11
HL_IMG=cand2,11


INFO=微信公众号----森林集-森林集-森林集-森林集-森林集


INFO=help
[STYLE1401]
NM_IMG=help,1
HL_IMG=help,1


INFO=微信公众号----森林集-森林集-森林集-森林集-森林集-森林集-森林集-森林集-森林集


INFO=SEL SYM
[STYLE1501]
NM_IMG=sym,1
HL_IMG=sym2,1

[STYLE1502]
NM_IMG=sym,2
HL_IMG=sym2,2

[STYLE1503]
NM_IMG=sym,3
HL_IMG=sym2,3

[STYLE1504]
NM_IMG=sym,4
HL_IMG=sym2,4

[STYLE1505]
NM_IMG=sym,5
HL_IMG=sym2,5

[STYLE1506]
NM_IMG=sym,6
HL_IMG=sym2,6

[STYLE1507]
NM_IMG=sym,7
HL_IMG=sym2,7

[STYLE1508]
NM_IMG=sym,8
HL_IMG=sym2,8

[STYLE1509]
NM_IMG=sym,9
HL_IMG=sym2,9

[STYLE1510]
NM_IMG=sym,10
HL_IMG=sym2,10




INFO=小图标
[STYLE1520]
NM_IMG=sym,12
HL_IMG=sym2,12

[STYLE1521]
NM_IMG=sym,13
HL_IMG=sym2,13

[STYLE1522]
NM_IMG=sym,14
HL_IMG=sym2,14

[STYLE1523]
NM_IMG=sym,15
HL_IMG=sym2,15

[STYLE1524]
NM_IMG=sym,16
HL_IMG=sym2,16

[STYLE1525]
NM_IMG=sym,17
HL_IMG=sym2,17

[STYLE1526]
NM_IMG=sym,18
HL_IMG=sym2,18

[STYLE1527]
NM_IMG=sym,19
HL_IMG=sym2,19


INFO=微信公众号----森林集-森林集-森林集-森林集-森林集


INFO=VOICE  1601-1620


INFO=SPARE
[STYLE1621]
NM_IMG=slj,1
HL_IMG=slj2,1

[STYLE1622]
NM_IMG=slj,2
HL_IMG=slj2,2

[STYLE1623]
NM_IMG=slj,3
HL_IMG=slj2,3

[STYLE1624]
NM_IMG=slj,4
HL_IMG=slj2,4

[STYLE1625]
NM_IMG=slj,5
HL_IMG=slj2,5

[STYLE1626]
NM_IMG=slj,6
HL_IMG=slj2,6

[STYLE1627]
NM_IMG=slj,7
HL_IMG=slj2,7

[STYLE1628]
NM_IMG=slj,8
HL_IMG=slj2,8

[STYLE1629]
NM_IMG=slj,9
HL_IMG=slj2,9

[STYLE1630]
NM_IMG=slj,10
HL_IMG=slj2,10

[STYLE1631]
NM_IMG=slj,11
HL_IMG=slj2,11

[STYLE1632]
NM_IMG=slj,12
HL_IMG=slj2,12

[STYLE1633]
NM_IMG=slj,13
HL_IMG=slj2,13

[STYLE1634]
NM_IMG=slj,14
HL_IMG=slj2,14

[STYLE1635]
NM_IMG=slj,15
HL_IMG=slj2,15

[STYLE1636]
NM_IMG=slj,16
HL_IMG=slj2,16

[STYLE1637]
NM_IMG=slj,17
HL_IMG=slj2,17

[STYLE1638]
NM_IMG=slj,18
HL_IMG=slj2,18

[STYLE1639]
NM_IMG=slj,19
HL_IMG=slj2,19

[STYLE1640]
NM_IMG=slj,20
HL_IMG=slj2,20


INFO=微信公众号----森林集-森林集-森林集-森林集-森林集-森林集-森林集-森林集-森林集


INFO=MORE
[STYLE1701]
NM_IMG=more,1
HL_IMG=more2,1

[STYLE1702]
NM_IMG=more,2
HL_IMG=more2,2

[STYLE1703]
NM_IMG=more,3
HL_IMG=more2,3

[STYLE1704]
NM_IMG=more,4
HL_IMG=more2,4

[STYLE1705]
NM_IMG=more,5
HL_IMG=more2,5

[STYLE1706]
NM_IMG=more,6
HL_IMG=more2,6

[STYLE1707]
NM_IMG=more,7
HL_IMG=more2,7

[STYLE1708]
NM_IMG=more,8
HL_IMG=more2,8

[STYLE1709]
NM_IMG=more,9
HL_IMG=more2,9

[STYLE1710]
NM_IMG=more,10
HL_IMG=more2,10

[STYLE1711]
NM_IMG=more,11
HL_IMG=more2,11

[STYLE1712]
NM_IMG=more,12
HL_IMG=more2,12

[STYLE1713]
NM_IMG=more,13
HL_IMG=more2,13

[STYLE1714]
NM_IMG=more,14
HL_IMG=more2,14

[STYLE1715]
NM_IMG=more,15
HL_IMG=more2,15

[STYLE1716]
NM_IMG=more,16
HL_IMG=more2,16

[STYLE1717]
NM_IMG=more,17
HL_IMG=more2,17

[STYLE1718]
NM_IMG=more,18
HL_IMG=more2,18

[STYLE1719]
NM_IMG=more,19
HL_IMG=more2,19

[STYLE1720]
NM_IMG=more,20
HL_IMG=more2,20

[STYLE1721]
NM_IMG=more,21
HL_IMG=more2,21

[STYLE1722]
NM_IMG=more,22
HL_IMG=more2,22

